/.InfectionCards.java._trace
/.PlayerCards.java._trace
/.EpidemicCard.java._trace
/.EpidemicCard.xtendbin
/.InfectionCards.xtendbin
/.PlayerCards.xtendbin
/EpidemicCard.java
/InfectionCards.java
/PlayerCards.java
